.container {
	@apply max-w-[120px] h-[140px] p-1.5 gap-1.5 flex flex-col;
	&:hover {
		.cover {
			.preview {
				.image {
					@apply shadow-md shadow-neutral-300;
				}
			}
		}
		.title {
			@apply text-red-500;
		}
	}
	.cover {
		@apply inline-flex flex-1 flex-col border border-zinc-200 rounded-2xl shadow-sm overflow-hidden transition duration-300;
		.preview {
			@apply w-full h-full mr-auto flex items-center justify-center relative;
			.image {
				@apply w-full h-full p-2.5 bg-zinc-50 object-cover rounded-2xl;
			}
			.placeholder {
				@apply grayscale opacity-50 contrast-200;
			}
			.count {
				@apply bottom-1 right-1 px-1.5 text-xs font-medium text-zinc-50 bg-red-500 rounded-md absolute;
			}
		}
	}
	.title {
		@apply text-sm font-semibold tracking-tighter text-center truncate transition duration-200;
	}
}

@media (max-width: 362px) {
	.container {
		@apply max-w-full h-[180px];
	}
}
