.container {
	@apply gap-2.5 flex flex-col;
	.variant {
		@apply px-7 py-2.5 gap-1.5 flex flex-1 items-center justify-center font-semibold rounded-md relative;
		&.small {
			@apply px-5 py-1.5 text-sm;
		}
		&.contained {
			@apply text-zinc-200 bg-red-600/90 hover:bg-red-700/90 active:bg-red-600/90
			transition-colors duration-200;
		}
		&.outlined {
			@apply text-zinc-700 bg-zinc-300/70 hover:bg-zinc-300/90 active:bg-zinc-300
			transition-colors duration-200;
		}
		&.transparent {
			@apply text-zinc-700 bg-zinc-100/70 hover:bg-zinc-200/70 active:bg-zinc-200
			transition-colors duration-200;
		}
		&.loading {
			@apply opacity-80 text-transparent animate-pulse;
			.loader {
				@apply w-auto h-5 text-zinc-500 absolute animate-spin;
			}
			&.contained {
				.loader {
					@apply text-zinc-200;
				}
			}
			&.outlined {
				.loader {
					@apply text-zinc-500;
				}
			}
		}
		&:disabled {
			@apply opacity-50 pointer-events-none;
		}
	}
	.error {
		@apply w-fit px-2.5 py-0.5 gap-0.5 inline-flex items-center text-sm text-red-600 bg-red-100 rounded-md;
	}
}

@media (max-width: 768px) {
	.container {
		.variant {
			@apply px-5 py-1.5 text-sm;
		}
	}
}
